/* Headings */

h1,
h2,
h3,
h4,
h5,
h6, {
  font-family: $font-family-headings;
}
h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.1;
}
h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1;
}
h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.1;
}
h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
}
h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}
h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
}
.news-heading {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.news-post {
  margin-bottom: 20px;
}
.news-post-heading {

}
.news-post-date {
  display: inline-block;
}
