.calebdar-widget-table-holder {
  @include rem(margin-bottom, 35px);
}
.calendar-widget-table {
  margin: 0 !important;
  width: 100%;
  border-collapse: collapse;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  thead {
    tr {
      th {
        border: 0;
      }
    }
  }
  td {
    border-top: 0;
  }
}
.calendar-widget {
  width: 100%;
}
#event-calendar-events {
  ul {
    li:last-child {
      border-bottom: 0;
    }
  }
}
