.cards-wrapper {
  @include rem(padding, 0 0 50px 0);
  @include media-breakpoint-down(md) {
    @include rem(padding, 0 0 30px 0);
  }
  @include media-breakpoint-down(sm) {
    @include rem(padding, 0 0 30px 0);
  }
}

.cards-wrapper-grey {
  @include rem(padding, 50px 0 50px 0);
  background-color: #ddd;
  .card-news {
    @include rem(padding, 30px !important);
  }
}

.card {
  border: 1px solid #bbb;
  border-radius: 0;
  box-shadow: rgba(0,0,0,0.0980392) 0 1px 4px;
  img {
    border-radius: 0;
    border-bottom:1px solid #ddd;
  }
  @include rem(margin-bottom, 45px);
}

.card-body {
  @include rem(padding, 30px);
}

.card-title-link {
  color: #000;
}

.card-news {
  @include media-breakpoint-up(lg) {
    @include rem(padding, 30px);
  }
}

.card-news-post {
  float: left;
  width: 100%;

}

.card-news-title {
  color: #000;
  text-decoration: underline;
  &:hover {
    color: #014771;
  }
  h4 {
    margin-bottom: 0px;
  }
}

.card-news-date {
  margin-bottom: 6px;
  time {
    font-size: 12px;
  }
}

.card-news-summary {
  margin-bottom: 35px;
}

.card-news-summary-last {
  margin-bottom: 0;
}

.card-no-border {
  border: 0;
  box-shadow: none;
  img {
    border-bottom: 0;
  }
  .card-body {
    @include rem(padding, 30px 0 30px 0);
  }
}

.cards-wrapper-grey .card-body {
  @include rem(padding, 30px);
}
