.demo-toggle-panel {
  @include rem(padding, 35px);
  @include rem(margin-top, 120px);
  @include rem(width, 320px);
  position: absolute;
  z-index: 99;
  right: 25px;
  top: 0;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,.2);
  border: 1px solid #aaa;
  .btn-theme {
    padding: 14px;
  }
}
.demo-toggle-panel-close {
  display: none;
}
.demo-close {
  margin-top: -22px;
  margin-right: -18px;
}
