/* Forms */
#MemberLoginForm_LoginForm {
  @include rem(max-width, 500px);
}
#MemberLoginForm_LoginForm_action_doLogin {
  @include rem(margin-bottom, 20px);
  @extend .btn;
}
#ForgotPassword {
  float: left;
  clear: both;
  width: 100%;
}
