.introduction {
  @include rem(padding, 50px 20px 50px 0);
  @include media-breakpoint-down(lg) {
    @include rem(padding-right, 0);
  }
}

.introduction-bullets {
  list-style: none;
  padding-left: 0;
  li {
    margin-bottom: 7px;
  }
  a {
    color: #000;
    text-decoration: underline;
    &:hover {
      color: #014771;
    };
  }
}

.introduction-two-columns {
  float: left;
  width: 100%;
  li {
    float: left;
    width: 50%;
    padding-right: 10px;
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
}

.introduction-bullets-container {
  float: left;
  width: 100%;
  @include rem(margin, 0 0 50px 0);
  @include media-breakpoint-up(lg) {
    @include rem(margin, 50px 0 0 0);
  }
}
