/* Megamenu */
.megamenu-dropdown {
  @include rem(min-height, 450px);
  position: absolute;
  width: 100%;
  background-color: #ccc;
  z-index: 199;
  left: 0;
  top: 44px;
  text-align: left;
  display: block;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

/* Navigation style */
.megamenu-navigation {
  @include media-breakpoint-up(md) {
    position: relative;
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  .navigation-menu {
    @include media-breakpoint-up(md) {
      width: 100%;
      .navigation-item {
        position: static;
        display: table-cell;
        text-align: center;
        width: 1%;
        &:hover {
          .navigation-submenu {
            visibility: hidden;
            opacity: 0;
          }
        }
      }
    }
  }
}










.justified-navigation {
  @include media-breakpoint-up(md) {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  .navigation-menu {
    @include media-breakpoint-up(md) {
      width: 100%;
      .navigation-item {
        display: table-cell;
        text-align: center;
        width: 1%;
      }
    }
  }
}

.left-navigation {
  @include media-breakpoint-up(md) {
    width: 100%;
  }
  .navigation-menu {
    @include media-breakpoint-up(md) {
      width: 100%;
      .navigation-item {
        float: left;
      }
      .navigation-link {
        @include rem(padding, 10px 18px 10px 18px);
      }
    }
  }
}

/* Navigation toggle */
.navigation-toggle {
  float: right;
  border: none;
  background-color: #eee;
  @include rem(padding, 4px 12px 4px 12px);
  @include media-breakpoint-up(md) {
    display: none;
  }
  &:after {
    @include rem(font-size, 24px);
    position: relative;
    content: "\f0c9";
    font-family: FontAwesome;
  }
  &:hover {
    background-color: #ddd;
  }
}

/* Site Search */
.site-search-mobile-container {
  @include rem(padding, 20px 0px 10px 0px);
  @include media-breakpoint-down(xs) {
    @include rem(padding, 20px 15px 10px 15px);
  }
}
.site-search-mobile {
  @include rem(padding-right, 95px);
  position: relative;
  .site-search-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* Containers */
.navigation-container {
  @include media-breakpoint-down(xs) {
    padding: 0;
  }
}
.navigation {
  background-color: #eee;
  border-top: 1px solid #ccc;
  @include media-breakpoint-up(md) {
    border-bottom: 1px solid #ccc;
    display: block;
  }
  @include media-breakpoint-down(sm) {
    @include rem(padding-bottom, 30px);
    border-top: 0;
  }
  @include media-breakpoint-down(xs) {
    padding-bottom: 0;
  }
}

/* Menus */
.navigation-menu,
.navigation-submenu,
.navigation-sub-submenu {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navigation-submenu,
.navigation-sub-submenu {
  @include media-breakpoint-down(xs) {
    border-top: 1px solid #ccc;
  }
  @include media-breakpoint-up(md) {
    @include rem(width, 220px);
    position: absolute;
    display: block;
    z-index: 99;
    left: -1px;
    transition: opacity 0.2s ease-out;
    border: 1px solid #ccc;
    visibility: hidden;
    opacity: 0;
    height: 0;
    width: 0;
    background-color: #eee;
  }
}

/* List items */
.navigation-item,
.navigation-submenu-item,
.navigation-sub-submenu-item {
  @include media-breakpoint-down(xs) {
    border-top: 1px solid #ccc;
  }
  @include media-breakpoint-up(md) {
    border-top: 1px solid #ccc;
  }
  position: relative;
  display: block;
  text-align: left;
  &:first-child {
    border-top: 0;
  }
}

.navigation-item {
  @include media-breakpoint-up(md) {
    border-top: 0;
    border-right: 1px solid #ccc;
    &:first-child {
      border-left: 1px solid #ccc;
    }
    &:hover {
      .navigation-submenu {
        @include rem(width, 220px);
        visibility: visible;
        opacity: 1;
        height: auto;
      }
    }
    &:last-child,
    &:nth-last-child(2) {
      &:hover {
        .navigation-submenu {
          @include rem(width, 220px);
          right: -1px;
          left: auto;
        }
      }
    }
  }
}

/* Links */
.navigation-link,
.navigation-submenu-link,
.navigation-sub-submenu-link {
  @include rem(padding, 10px 0);
  display: block;
  text-decoration: none;
  color: #616161;
  &:hover,
  &:focus,
  &:visited
  &:link {
    text-decoration: none;
    color: #000;
  }
  @include media-breakpoint-down(xs) {
    @include rem(padding, 10px 15px 10px 15px);
  }
}

.navigation-submenu-link,
.navigation-sub-submenu-link {
  @include media-breakpoint-up(md) {
    @include rem(padding, 5px 15px 5px 15px);
  }
}

.navigation-submenu-link {
  @include media-breakpoint-down(sm) {
    @include rem(padding-left, 35px);
  }
}
.navigation-sub-submenu-link {
  @include media-breakpoint-down(sm) {
    @include rem(padding-left, 65px);
  }
}

/* Dropdown chevrons */
.navigation-chevron {
  @include rem(padding, 10px 16px 10px 16px);
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
  &:after {
    @include rem(font-size, 12px);
    content: "\f077";
    font-family: FontAwesome;
  }
  &.collapsed {
    &:after {
      content: "\f078";
    }
  }
  @include media-breakpoint-down(xs) {
    border-left: 1px solid #ccc;
  }
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.navigation-link.has-children {
  @include media-breakpoint-up(md) {
    &:after {
      @include rem(font-size, 10px);
      position: relative;
      top: -2px;
      right: -4px;
      content: "\f078";
      font-family: FontAwesome;
    }
  }
}
