.popular-links {
  ul {
    padding-left: 0;
    list-style: none;
  }
  li {
    @include rem(margin-right, 5px);
    @include rem(margin-bottom, 5px);
    display: inline-block;
    float: left;
  }
  a {
    @include rem(padding, 10px 15px 10px 15px);
    display: block;
    background-color: #fff;
    color: #000;
  }
}

.popular-links-heading {
  @include rem(padding, 6px 15px 6px 15px);
  @include rem(margin-bottom, 5px);
  background-color: #fff;
  display: inline-block;
}
