.contact-sidebar {
  @include rem(padding, 30px);
  @include rem(margin-top, 15px);
  background-color: #eee;
}

.contact-sidebar-info {
  padding-left: 0;
  list-style: none;
  margin: 0;
  li {
    position: relative;
    margin-bottom: 18px;
    &:before {
      display: none;
    }
  }
  li:last-child {
    margin-bottom: 0;
  }
}

.contact-sidebar-icons {
  li {
    @include rem(padding-left, 40px);
    &:before {
      display: block;
      font-family: 'FontAwesome';
      position: absolute;
      left: 0;
      border-radius: 100%;
      @each $theme, $color in $theme-colours {
        body.#{$theme} & {
          color: $color;
        }
      }
    }
  }
}

.contact-sidebar-phone {
  &:before {
    font-size: 23px;
    content:'\f095';
  }
}

.contact-sidebar-mobile {
  &:before {
    position: absolute;
    top: -8px;
    left: 3px !important;
    font-size: 35px;
    content:'\f10b';
  }
}

.contact-sidebar-email {
  &:before {
    font-size: 19px;
    content:'\f0e0';
  }
}

.contact-sidebar-address {
  &:before {
    font-size: 23px;
    content:'\f015';
  }
}

.contact-map {
  @include rem(margin-top, 30px);
}

.contact-sidebar-opening-hours {
  @include rem(margin-top, 20px);
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    @include rem(margin-bottom, 10px);
  }
}
