@mixin font-face($fontname, $filename: $fontname, $weight: normal, $style: normal) {
 @font-face {
   font-family: $fontname;
   src:url('../fonts/#{$filename}.eot');
   src:url('../fonts/#{$filename}.eot?#iefix') format('embedded-opentype'),
     url('../fonts/#{$filename}.ttf') format('truetype');
   font-weight: $weight;
   font-style: $style;
 }
}

@include font-face('Roboto', 'Roboto-Regular', 400, normal);
@include font-face('Roboto', 'Roboto-Italic', 400, italic);
@include font-face('Roboto', 'Roboto-Bold', 700, bold);
