/* Variables */

// Fonts
$font-family-body: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-headings: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colours - Text & links
$colour-text: #333;
$colour-link: #337ab7;
$colour-link-hover: #23527c;

// Colours - Breadcrumbs
$colour-breadcrumb-text: $colour-text;
$colour-breadcrumb-link: $colour-link;
$colour-breadcrumb-link-hover: $colour-link-hover;
$colour-breadcrumb-link-section: $colour-link;
$colour-breadcrumb-link-section-hover: $colour-link-hover;
$colour-breadcrumb-divider: #ddd;

// Colours - Sidebar
$colour-sidebar-link: #212529;
$colour-sidebar-link-hover: #212529;
$colour-sidebar-link-section: $colour-link;
$colour-sidebar-link-section-hover: $colour-link-hover;
$colour-sidebar-link-current: #212529;
$colour-sidebar-link-current-hover: #212529;
