.page-summary {
  padding-left: 0;
  list-style: none;
  float: left;
  width: 100%;
}
.page-summary-title {
  display: inline-block;
  color: #000;
  &:hover {
    text-decoration: none;
    color: #000;
  }
}
.page-summary-image {
  float: left;
  margin-right: 15px;
  overflow: hidden;
  img {
    transform: scale(1);
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    &:hover {
      transform: scale(1.1);
    };
  }
}
