/* Footer */
.footer-first {
  @include rem(margin-top, 15px);
  @include rem(padding, 25px 0 25px 0);
  background-color: #222;
  h4 {
    color: #fff;
  }
  a {
    color: #9d9d9d;
  }
  a:hover {
    color: #ccc;
  }
  ul {
    padding-left: 0;
    list-style: none;
  }
}

// Matching heights
.footer-list {
  @include rem(margin-bottom, 25px);
}

.footer-secondary {
  @include rem(padding, 25px 0 25px 0);
  background-color: #111;
  color: #9d9d9d;
}

.footer-links {
  @include rem(margin-top, 5px);
  @include rem(margin-bottom, 6px);
  float: left;
  padding-left: 0;
  @include media-breakpoint-down(sm) {
    width: 100%;
    text-align: center;
    float: none;
  }
  li {
    @include rem(margin-right, 10px);
    display: inline;
  }
  a {
    color: #fff;
  }
}

.footer-copyright {
  float: left;
  display: block;
  clear: both;
  color: #9d9d9d;
  @include media-breakpoint-down(sm) {
    width: 100%;
    text-align: center;
    float: none;
  }
}
.footer-social-media {
  padding: 0;
  float: right;
  @include rem(margin-top, 10px);
  @include media-breakpoint-down(sm) {
    width: 100%;
    text-align: center;
    float: none;
  }
  li {
    display: inline;
  }
  a {
    @include rem(margin-left, 7px);
    @include rem(width, 36px);
    @include rem(height, 36px);
    @include rem(line-height, 36px);
    @include rem(font-size, 20px);
    float: right;
    display: block;
    border-radius: 10%;
    background-color: #222;
    text-align: center;
    color: #fff;
    @include rem(margin-bottom, 8px);
    @include media-breakpoint-down(sm) {
      @include rem(margin-left, 0);
      float: none;
      display: inline;
    }
  }
  li:last-child a{
    margin-left: 0;
  }
  .facebook {
    background-color: #39589B;
    &:hover {
      background-color: darken(#39589B, 10%)
    }
  }
  .twitter {
    background-color: #039BE5;
    &:hover {
      background-color: darken(#039BE5, 10%)
    }
  }
  .linkedin {
    background-color: #0270AD;
    &:hover {
      background-color: darken(#0270AD, 10%)
    }
  }
  .instagram {
    background-color: #845A4F;
    &:hover {
      background-color: darken(#845A4F, 10%)
    }
  }
  .youtube {
    background-color: #F60000;
    &:hover {
      background-color: darken(#F60000, 10%)
    }
  }
  .vimeo {
    background-color: #4CB4F7;
    &:hover {
      background-color: darken(#4CB4F7, 10%)
    }
  }
  @include media-breakpoint-down(sm) {
    .twitter {
      @include rem(padding, 5px 8px 5px 8px);
    }
    .facebook {
      @include rem(padding, 5px 12px 5px 12px);
    }
    .linkedin {
      @include rem(padding, 5px 8px 5px 9px);
    }
    .instagram {
      @include rem(padding, 5px 8px 5px 8px);
    }
    .youtube {
      @include rem(padding, 5px 8px 5px 8px);
    }
    .vimeo {
      @include rem(padding, 5px 7px 5px 7px);
    }
  }
}

.page-footer {
  clear: both;
  float: left;
  width: 100%;
  border-top: 1px solid #eee;
  @include rem(margin-top, 30px);
  @include rem(padding, 15px 0 15px 0);
  color: #999;
}

.page-footer-last-modified {
  @include rem(font-size, 14px);
  float: left;
}

.page-footer-print {
  @include rem(font-size, 18px);
  position: relative;
  top: 0;
  float: right;
  color: #999;
  &:hover{
    text-decoration: none;
    color: #292b2c;
  }
}
