/* Headings */

h1,
h2,
h3,
h4,
h5,
h6, {
  font-family: $font-family-headings;
}
h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
}
h2 {
  font-weight: 500;
  line-height: 1.1;
}
h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1;
}
h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}
h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
}
h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.1;
}
