/* Page links */
.page {
  a,
  a:active,
  a:visited {
  }
  p {
    a {
      text-decoration: underline;
    }
  }
  a:hover {
    color: $colour-link-hover;
  }
  // Accessible focus
  a:hover, a:active {
    outline: none;
  }
}
