/* Header */
header {
  background-color: #fff;
  padding: 20px 0px 20px 0px;
}
.logo {
  float: left;
  color: #000;
  &:hover {
    color: #000;
    text-decoration: none;
  }
}
.site-title,
.site-tagline {
  margin: 0;
}
.site-title {
  font-size: 28px;
}
.admin-login {
  float: right;
  margin-top: 15px;
}
