.header-background {
  width: 100%;
  background-color: #fff;
  padding: 20px 0px 20px 0px;
}
.site-title,
.site-tagline {
  margin: 0;
}
.admin-login {
  float: right;
  margin-top: 20px;
}
header {
  @media (max-width: $screen-xs-min) {
    float:left;
    width:100%;
    text-align:center;
  }
}
.logo {
  float: left;
  @media (max-width: $screen-xs-min) {
    float: none;
  }
}
