/* Navbar changes */
.navbar {
  margin-bottom: 0;
  border: 0;
}

/* Desktop */
.dropdown-link {
  padding-right: 25px;
  &:after {
    position: relative;
    top: -2px;
    right: -2px;
    content: "\e259";
    font-family: 'Glyphicons Halflings';
    font-size: 8px;
    @media (max-width: $laptop-max) {
      display: none;
    }
  }
}

/* Desktop hover */
.dropdown-item {
  @media (min-width: $laptop-max) {
    &:hover {
      .dropdown-menu {
        display: block;
      }
    }
  }
}

/* Mobile */
.dropdown-link-mobile {
  padding: 8px 15px 9px 15px;
  position: absolute;
  background-color: #333;
  cursor: pointer;
  display: none;
  @media (max-width: $laptop-max) {
    display: block;
  }
  &:after {
    color: #fff;
    content: "\e259";
    font-family: 'Glyphicons Halflings';
    font-size: 8px;
    cursor: pointer;
  }
  z-index: 22;
  right: 0;
  top: 0;
}

/* Chevron swap */
.dropdown-item.open {
  .dropdown-link {
    background-color: transparent !important;
  }
  .dropdown-link-mobile {
    &:after {
      content: "\e260";
    }
  }
}

/* Navbar States */
.current,
.section {
  .dropdown-link, .normal-link {
    background-color: #000 !important;
    color: #fff !important;
  }
}
.current.dropdown-item.open {
  .dropdown-link {
    background-color: #000 !important;
  }
}