.navbar {
  margin-bottom: 0;
}

/* Desktop */
.dropdown-link {
  padding-right: 25px;
  &:after {
    content: "\e259";
    font-family: 'Glyphicons Halflings';
    font-size: 8px;
    @media (max-width: $laptop-max) {
      display:none;
    }
  }
}

/* Desktop hover */
.dropdown-item {
  @media (min-width: $laptop-max) {
    &:hover {
      .dropdown-menu {
        display: block;
      }
    }
  }
}

/* Mobile */
.dropdown-link-mobile {
  padding: 9px 15px 9px 15px;
  position: absolute;
  background-color: #333;
  cursor: pointer;
  display: none;
  @media (max-width: $laptop-max) {
    display:block;
  }
  &:after {
    color: #fff;
    content: "\e259";
    font-family: 'Glyphicons Halflings';
    font-size: 8px;
    cursor: pointer;
  }
  z-index: 22;
  right: 0;
  top: 0;
}

/* Chevron swap */
.dropdown-item.open {
  background-color: #222;
  .dropdown-link-mobile {
    &:after {
      content: "\e260" !important;
    }
  }
}
