.sidebar {
  padding-left: 0;
  li {
    list-style: none;
  }
  ul {
    padding-left: 22px;
  }
  .section {
    color: #009BE7;
  }
  .current {
    color: #009BE7;
  }
  .link {
    color: #009BE7;
  }
}
