/* Sidebar */
.sidebar {
  padding-left: 0;
  list-style: none;
  ul {
    padding-left: 22px;
    list-style: none;
  }
  li {
    .link {
      color: $colour-sidebar-link;
      &:hover {
        color: $colour-sidebar-link-hover;
      }
    }
    .current {
      color: $colour-sidebar-link-current;
      &:hover {
        color: $colour-sidebar-link-current-hover;
      }
    }
    .section {
      color: $colour-sidebar-link-section;
      &:hover {
        color: $colour-sidebar-link-section-hover;
      }
    }
  }
}
