.navigation-left,
.navigation-justified,
.navigation-megamenu,
.navigation-mobile-right {
  @include media-breakpoint-up(md) {
    @each $theme, $color in $theme-colours {
      body.#{$theme} & {
        background-color: $color;
        .navigation-link,
        .navigation-submenu-link {
          color: #fff;
          &:hover {
            transition: background-color 0.6s ease;
            background-color: lighten($color, 5%)
          };
        }
      }
    }
    @each $theme, $color in $theme-colours-shade {
      body.#{$theme} & {
        // border-top: 1px solid $color;
        // border-bottom: 1px solid $color;
        border: 0;
        .navigation-item {
          // border-left: 1px solid $color;
          &:last-child {
            // border-right: 1px solid $color;
          }
        }
        .navigation-link.current {
          background-color: $color;
        }
      }
    }
  }
}

.navigation-mobile-right {
  .navigation-link.current {
    background-color: transparent;
  }
}


/* Megamenu */
.navigation-megamenu {
  @each $theme, $color in $theme-colours {
    body.#{$theme} & {
      background-color: $color;
      .navigation-link,
      .navigation-submenu-link,
      .navigation-submenu-item,
      .navigation-sub-submenu-link {
        color: #fff;
      }
      .navigation-chevron {
        &:after {
          color: #fff;
        }
      }
    }
  }
}

.contact-info {
  @each $theme, $color in $theme-colours {
    body.#{$theme} & {
      .fa {
        color: $color;
      }
    }
  }
}

.page-banner-background {
  background-color: #ddd;
  @each $theme, $color in $theme-colours-shade {
    body.#{$theme} & {
      background-color: $color;
      h1 {
        color: #fff;
      }
    }
  }
}

.navigation-submenu {
  @include media-breakpoint-up(md) {
    @each $theme, $color in $theme-colours {
      body.#{$theme} & {
        background-color: $color !important;
        .navigation-submenu-link {
          color: #fff;
        }
      }
    }
  }
}

.navigation-toggle {
  @each $theme, $color in $theme-colours {
    body.#{$theme} & {
      background-color: $color !important;
      color: #fff;
    }
  }
}

.copyright-symbol {
  @each $theme, $color in $theme-colours-shine {
    body.#{$theme} & {
      color: $color;
    }
  }
}

.btn-card-theme {
  @each $theme, $color in $theme-colours {
    body.#{$theme} & {
      background-color: $color;
      color: #fff;
      &:hover {
        background-color: lighten($color, 5%)
      };
    }
  }
}

.btn-theme {
  background-color: #ddd;
  margin-bottom: 5px;
  @each $theme, $color in $theme-colours {
    body.#{$theme} & {
      background-color: $color;
      color: #fff;
      &:hover {
        background-color: lighten($color, 5%)
      };
    }
  }
}

.btn-theme-light-green {
  background-color: $light-green !important;
}

.btn-theme-green {
  background-color: $green !important;
}

.btn-theme-blue {
  background-color: $blue !important;
}

.btn-theme-navy {
  background-color: $navy !important;
}

.btn-theme-teal {
  background-color: $teal !important;
}

.btn-theme-cyan {
  background-color: $cyan !important;
}

.btn-theme-red {
  background-color: $red !important;
}

.btn-theme-orange {
  background-color: $orange !important;
}

.btn-theme-purple {
  background-color: $purple !important;
}

.btn-theme-brown {
  background-color: $brown !important;
}

.back-to-top {
  @each $theme, $color in $theme-colours {
    body.#{$theme} & {
      transition: background-color 0.6s ease;
      background-color: $color;
      &:hover {
        background-color: lighten($color, 10%)
      };
    }
  }
}

.navigation-megamenu-panel {
  @each $theme, $color in $theme-colours {
    body.#{$theme} & {
      background-color: darken($color, 4%);
      color: #fff;
      h3 a {
        color: #fff;
      }
      .navigation-megamenu-item a {
        color: #fff;
      }
    }
  }
}

.page-summary-title {
  @each $theme, $color in $theme-colours {
    body.#{$theme} & {
      &:hover {
        color: $color !important;
        text-decoration: underline;
      }
    }
  }
}

.sidebar {
  li {
    @each $theme, $color in $theme-colours {
      body.#{$theme} & {
        a:hover,
        .current {
          color: $color !important;
        }
      }
    }
  }
}

.search-toggle-navigation {
  @each $theme, $color in $theme-colours {
  }
}

.navigation-menu {
  @include media-breakpoint-down(xs) {
    @each $theme, $color in $theme-colours {
      body.#{$theme} & {
        background-color: $color;
        .navigation-chevron {
          &:after {
            color: #fff;
          }
        }
        .navigation-link,
        .navigation-submenu-link,
        .navigation-sub-submenu-link {
          color: #fff;
        }
        .navigation-submenu,
        .navigation-submenu-item,
        .navigation-sub-submenu,
        .navigation-sub-submenu-item,
        .navigation-item {
          border-color: darken($color, 5%);
        }
      }
    }
  }
}

.navigation-chevron {
  @include media-breakpoint-down(xs) {
    @each $theme, $color in $theme-colours {
      body.#{$theme} & {
        border-color: darken($color, 5%);
      }
    }
  }
}

#MemberLoginForm_LoginForm_action_doLogin {
  @each $theme, $color in $theme-colours {
    body.#{$theme} & {
      background-color: $color;
      color: #fff;
    }
  }
}

.btn-toolbar {
  .action {
    @each $theme, $color in $theme-colours {
      body.#{$theme} & {
        background-color: $color;
        border-color: $color !important;
        color: #fff;
        &:hover,
        &:visited,
        &:link,
        &:active,
        &:focus {
          border-color: $color !important;
          background-color: lighten($color, 4%) !important;
        };
      }
    }
  }
}
